// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
    keyboard {
        xkb {
            //If you want to overwrite your keyboard layout,
            // uncomment the line below and change the layout accordingly.
            layout "us,ru" // Use the American and Russian keyboard layout
            options "grp:alt_shift_toggle"
        }
        numlock // Enable numlock on startup
    }

    touchpad {
        tap // Enable tap-to-click
        accel-speed 0.1
        natural-scroll // Enable natural (macOS-style) scrolling
        accel-profile "adaptive"
    }

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    focus-follows-mouse max-scroll-amount="0%"
    workspace-auto-back-and-forth // Enable workspace back & forth switching
}

cursor {
    xcursor-theme "Bibata-Modern-Amber"
    xcursor-size 24
}

